<ion-header [translucent]="true">
  <ion-toolbar mode=ios>
       <ion-title>History</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/" color="lightgrey"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-card>
<ion-grid>

<ion-row>
 <ion-col>
   <ion-row style="margin:0;padding:0">
    <ion-col>
       <p style="color:lightgray;font-size:12px;margin:0">Departure</p>
       <p style="color:black;font-size:15px;margin-top:4px">Bole Sky Line</p>       
    </ion-col>
    <ion-col style="text-align:right">
       <p style="color:lightgray;font-size:12px;margin:0">Arrival</p>
        <p style="color:black;font-size:15px;margin-top:4px">Atobis Terra</p>       
    </ion-col>
  </ion-row>
   <ion-row style="margin:0 !important;padding:0">
  
   <ion-col>
       <p style="color:orange;font-size:12px;margin:0">Route BL102</p>
        <p style="color:#3498DB;font-size:12px;margin-top:4px">NB001</p>       
    </ion-col>
    <ion-col style="text-align:right">
       <p style="color:lightgray;font-size:12px;margin:0">Date</p>
       <p style="color:black;font-size:12px;margin-top:4px">Jun 23rd 2021</p>       
    </ion-col>
  </ion-row>

  </ion-col>
  </ion-row>

</ion-grid>

</ion-card>




<ion-card>
<ion-grid>

<ion-row>
 <ion-col>
   <ion-row style="margin:0;padding:0">
    <ion-col>
       <p style="color:lightgray;font-size:12px;margin:0">Departure</p>
       <p style="color:black;font-size:15px;margin-top:4px">Bole Sky Line</p>       
    </ion-col>
    <ion-col style="text-align:right">
       <p style="color:lightgray;font-size:12px;margin:0">Arrival</p>
        <p style="color:black;font-size:15px;margin-top:4px">Atobis Terra</p>       
    </ion-col>
  </ion-row>
   <ion-row style="margin:0 !important;padding:0">
  
   <ion-col>
       <p style="color:orange;font-size:12px;margin:0">Route BL102</p>
        <p style="color:#3498DB;font-size:12px;margin-top:4px">NB001</p>       
    </ion-col>
    <ion-col style="text-align:right">
       <p style="color:lightgray;font-size:12px;margin:0">Date</p>
       <p style="color:black;font-size:12px;margin-top:4px">Jun 23rd 2021</p>       
    </ion-col>
  </ion-row>

  </ion-col>
  </ion-row>

</ion-grid>

</ion-card>




<ion-card>
<ion-grid>

<ion-row>
 <ion-col>
   <ion-row style="margin:0;padding:0">
    <ion-col>
       <p style="color:lightgray;font-size:12px;margin:0">Departure</p>
       <p style="color:black;font-size:15px;margin-top:4px">Bole Sky Line</p>       
    </ion-col>
    <ion-col style="text-align:right">
       <p style="color:lightgray;font-size:12px;margin:0">Arrival</p>
        <p style="color:black;font-size:15px;margin-top:4px">Atobis Terra</p>       
    </ion-col>
  </ion-row>
   <ion-row style="margin:0 !important;padding:0">
  
   <ion-col>
       <p style="color:orange;font-size:12px;margin:0">Route BL102</p>
        <p style="color:#3498DB;font-size:12px;margin-top:4px">NB001</p>       
    </ion-col>
    <ion-col style="text-align:right">
       <p style="color:lightgray;font-size:12px;margin:0">Date</p>
       <p style="color:black;font-size:12px;margin-top:4px">Jun 23rd 2021</p>       
    </ion-col>
  </ion-row>

  </ion-col>
  </ion-row>

</ion-grid>

</ion-card>




<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>