   .daybutton {
 
  width: 40px;
  height: 20px;
  --border-radius: 10%;
  --vertical-align: middle;
 
}

 .daylabel {
        width:40px;
        background-color:#3880ff;
        border-radius:5px;
        color:white;
        text-align:center;
        font-size:17px;
 }

.green {
    background-color: green;
}

.red {
    background-color: red;
}


h5:visited{
    background-color: yellow;
}



ion-button {
  --border-color:lightgray;
  --color: var(--ion-color-secondary);
}